<div class="logo_container">
  <ul class="logo">
    <li class="projects">
      <%= image_tag(pic[:ML]) %>
    </li>
    <li class="about">
      <%= image_tag(pic[:moon]) %>
    </li>
  </ul>
  <ul class="logo">
    <li class="employees">
      <%= image_tag(pic[:cloud]) %>
    </li>
    <li class="home">
      <%= image_tag(pic[:DS]) %>
    </li>
  </ul>
</div>
<div class="logo_text">
  <ul class="funtext">
    <li class="ml_projects"><h1><%= pic[:text][:ML] %></h1></li>
    <li class="moon_about"><h1><%= pic[:text][:moon] %></h1></li>
    <li class="cloud_employees"><h1><%= pic[:text][:cloud] %></h1></li>
    <li class="ds_home"><h1><%= pic[:text][:DS] %></h1></li>
  </ul>
</div>
