<div class="image_list">
  <ul class="project_list">
    <% for j in 0..projects.count-1 %>
    <% project = projects[j] %>
    <style type="text/css">
    .project_list .img_profile .img_img_<%= j %>{
      width: 150px;
      height: 600px;
      background: url("<%= project[:img] %>") <%= -j*150 %>px 0;
    }
    
    .project_list .img_profile .img_text_<%= j %>{
      padding-top: 40px;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 110%;
      color: #aaa;
    }
    </style>
      <li class="img_profile round">
        <div class="img_img_<%= j %> round">
          <div class="img_text_<%= j %>">
            <h5><%= link_to ">> Project Link", project[:url] %></h5>
            <p><h5><%= project[:text] %></h5></p>
          </div>
        </div>
        
      </li>
    <% end %>
  </ul>
</div>

