<%= render "shared/jscript" %>
<div class="pages">
  <div class="home">
    <%= render "pages/home" , :pic => @home %>
  </div>
  <div class="about">
    <%= render "pages/about" , :text => @about %>
  </div>
  <div class="projects">
    <%= render "pages/projects" , :projects => @projects %>
  </div>
  <div class="employees">
    <%= render "pages/employees" , :employees => @employees %>
  </div>
</div>
